@import "./src/styles/variables";

.message {
	$self: &;

	&__content {
		position: relative;
		display: flex;
		max-width: 440px;
		margin-bottom: 15px;
	}

	&__avatar {
		display: flex;
		flex-direction: column-reverse;

		img {
			border-radius: 50px;
			width: 40px;
			height: 40px;
			margin-right: 13px;
			margin-bottom: 5px;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
	}

	&__attachments {
		display: flex;
		margin-bottom: 5px;

		&-item {
			margin-right: 5px;
			cursor: pointer;

			img {
				width: 45px;
				height: 45px;
				border-radius: 8px;
			}
		}
	}

	&__bubble {
		background: $blue;
		box-shadow: 0 5px 5px rgba(54, 116, 255, .2);
		border-radius: 12px 12px 12px 0;
		padding: 15px;
		margin-bottom: 8px;
	}

	&__text {
		color: white;
		font-size: 14px;
		line-height: 20px;
	}

	&__icon-read {
		position: absolute;
		bottom: 20px;
		left: -25px;
	}

	&__date {
		color: #bbb;
	}

	&--isme {
		display: flex;
		flex-direction: row-reverse;

		#{$self}__avatar {
			img {
				margin-right: 0;
				margin-left: 13px;
			}
		}

		#{$self}__content {
			margin-bottom: 15px;
			flex-direction: row-reverse;
		}

		#{$self}__info {
			text-align: right;
		}

		#{$self}__bubble {
			background: #fff;
			border: 1px solid #ececec;
			box-shadow: 0 4px 4px rgba(0, 0, 0, .2);
			border-radius: 12px 12px 0 12px;

			#{$self}__text {
				color: #000;
			}
		}
	}

	&--is-typing {
		#{$self}__bubble {
			background-color: $message-typing-blue;
		}
	}

	&--image {
		#{$self}__attachments {
			&-item {
				img {
					width: 150px;
					height: 150px;
				}
			}
		}
	}

	&__typing {
		span {
			height: 8px;
			width: 8px;
			border-radius: 50%;
			background: $message-typing-circle;
			display: inline-block;
			margin-right: 8px;
			animation-name: typingAnimation;
			animation-duration: 1s;
			animation-timing-function: ease-in-out;
			animation-iteration-count: infinite;

			//&:nth-of-type(1) {
			//	animation-delay: 2s;
			//}

			&:nth-of-type(2) {
				animation-duration: 1.2s;
			}

			&:nth-of-type(3) {
				animation-duration: 1.7s;
			}
		}
	}
}

@keyframes typingAnimation {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

